$sans-regular: opensans_regular, Helvetica, Arial, sans-serif;
$bg-col: #fff;
$accent-col: #4891dc;
$closed-col: #a00;
$module-border: 1px solid gray;
$sidebar-width: 380px;
$mobile-sidebar-width: 280px;
