@import 'common';

section {
    margin-left: 8px;
    transition: margin .4s;

    &.sidebar-active {
        margin-left: $sidebar-width;

        @media (max-width: $sidebar-width) {
            margin-left: $mobile-sidebar-width;
        }
    }

    .content {
        padding: 32px;
        font-weight: bold;

        h3 {
            display: inline-block;
            font-size: 26px;
            margin-top: 0;
        }

        .status {
            color: $closed-col;
        }

        .description {
            font-size: 16px;
            line-height: 20px;
        }
    }
}
