@import 'common';

section {
    margin-left: 380px;

    .content {
        padding: 32px;
        font-weight: bold;

        h3 {
            display: inline-block;
            font-size: 26px;
            margin-top: 0;
        }

        .status {
            color: $closed-col;
        }

        .description {
            font-size: 16px;
            line-height: 20px;
        }
    }
}
