@import 'common';

$margin-top: 30px;
$mobile-margin-top: 12px;

header {
    background-color: $bg-col;
    border-bottom: $module-border;
    padding: 0 30px 30px;
    position: relative;
    z-index: 2;
    transition: all .4s;

    @media screen and (max-width: $sidebar-width),
        handheld and (orientation: landscape) {
        padding: 0 12px 12px;

        h1 {
            margin: $mobile-margin-top 30px 0 0 !important;
        }

        .filters {
            input {
                margin-top: $mobile-margin-top !important;

                &[type="text"] {
                    width: 180px !important;
                }
            }
        }
    }
    

    h1 {
        margin: $margin-top 30px 0 0;
        float: left;
    }

    .filters {
        float: left;
        margin-top: 4px;

        input {
            padding: 8px;
            margin: $margin-top 0 0 0;

            &[type="text"] {
                width: 260px;
                font-size: 14px;
                transition: all .4s;
            }

            &[type="checkbox"] {
                margin-right: 6px;
            }
        }

        .filter-text {
            white-space: nowrap;
            display: inline-block;
        }

        .filter-btn {
            background-image: url('../img/filters.png');
            width: 16px;
            height: 16px;
            display: inline-block;
            margin: 0 24px -3px -30px;

            &.client {
                background-position: 0 16px;
            }
        }

        label {
            font-size: 12px;
            white-space: nowrap;
            display: inline-block;
        }
    }
}
