@import 'common';

$margin-top: 30px;

header {
    background-color: $bg-col;
    border-bottom: $module-border;
    padding: 0 30px 30px;
    position: relative;
    z-index: 2;

    h1 {
        margin: $margin-top 30px 0 0;
        float: left;
    }

    .filters {
        float: left;
        margin-top: 4px;

        input {
            padding: 8px;
            margin: $margin-top 0 0 0;

            &[type="text"] {
                width: 260px;
                font-size: 14px;
            }
        }

        .filter-text {
            white-space: nowrap;
            display: inline-block;
        }

        .filter-btn {
            background-image: url('../img/filters.png');
            width: 16px;
            height: 16px;
            display: inline-block;
            margin: 0 24px -3px -30px;

            &.client {
                background-position: 0 16px;
            }
        }

        label {
            font-size: 12px;
            white-space: nowrap;
            display: inline-block;
        }
    }
}
