@import 'common';

header {
    padding: 30px;
    border-bottom: $module-border;

    h1 {
        margin: 0 30px 0 0;
        float: left;
    }

    .filters {
        float: left;

        input {
            padding: 10px;

            &[type="text"] {
                width: 260px;
            }

            &[type="checkbox"] {
                margin-left: 12px;
            }
        }

        label {
            font-size: 12px;
        }
    }
}
