@import 'common';

html {
    height: 100%;
    overflow: hidden;

    section, article, header, footer, nav, aside {
        display: block;
    }

    body {
        margin: 0;
        font-family: $sans-regular;
        height: 100%;
        overflow: hidden;
    }

    h1 { font-size: 28px; }
    h2 { font-size: 22px; }
    h3 { font-size: 18px; }
    h4 { font-size: 14px; }

    input {
        &[type="text"] {
            border-radius: 2px;
            border: 1px solid #aaa;

            &:focus {
                border-color: $accent-col;
                box-shadow: 0 0 2px 2px lighten($accent-col, 30%);
                outline: none;
            }
        }

        &[type="checkbox"] {
            font-size: 24px;
            box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
        }
    }

    .ng-cloak {
        display: none !important;
    }

    .hidden {
        display: none !important;
    }

    .disabled,
    .disabled:hover {
        color: #888 !important;
        background-color: #eee !important;
        cursor: default !important;
    }

    .clear {
        clear: both;
    }
}
