@import 'common';

$width: 380px;

aside {
    float: left;
    height: 100%;
    width: $width;
    margin-left: -$width;
    transition: margin .4s;

    @media (max-width: $width) {

    }

    &.active {
        margin-left: 0;

        .filter .sidebar-toggle {
            margin: 0;
            opacity: 1;
        }
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .filter {
        border-bottom: 1px solid #ccc;
        border-right: $module-border;
        padding: 16px;
        position: relative;
        z-index: 2;
        background-color: $bg-col;

        .sidebar-toggle {
            background-color: #ccc;
            border-radius: 24px;
            cursor: pointer;
            float: right;
            height: 24px;
            opacity: .5;
            margin-right: -48px;
            width: 24px;
            transition: all .4s;
        }
    }

    .list {
        height: 100%;
        overflow: auto;
        border-right: $module-border;
        
        .client {
            .header {
                background-color: #ddd;
                border-bottom: 1px solid #fff;
                padding: 8px 20px;
                margin: 0;

                h4 {
                    margin: 8px 0;
                    float: right;
                }

                .avatar {
                    border-radius: 32px;
                    margin-bottom: -4px;
                }
            }
        }
    }

    .loading {
        background-image: url('../img/loading.gif');
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 42px;

        * {
            display: none;
        }
    }

    .error {
        padding: 24px;
        color: maroon;
    }
}

