@import 'common';

aside {
    float: left;
    height: 100%;
    width: $sidebar-width;
    margin-left: -$sidebar-width;
    transition: all .4s;

    @media (max-width: $sidebar-width) {
        width: $mobile-sidebar-width;
        margin-left: -$mobile-sidebar-width;
    }

    &.active {
        margin-left: 0;

        .filter .sidebar-toggle {
            margin: -2px 4px 0 0;
            opacity: 1;
            background-position: 0 0;
        }
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .filter {
        background-color: $bg-col;
        border-bottom: 1px solid #ccc;
        border-right: $module-border;
        box-shadow: 0px 5px 6px -2px rgba(0, 0, 0, 0.1);
        font-size: 13px;
        padding: 16px;
        position: relative;
        z-index: 2;

        .sidebar-toggle {
            background-image: url('../img/sidebar-toggle.png');
            background-position: 0 24px;
            border-radius: 24px;
            cursor: pointer;
            float: right;
            height: 24px;
            opacity: .5;
            margin-right: -48px;
            width: 24px; 
            transition: all .4s;
        }
    }

    .list {
        height: 100%;
        overflow: auto;
        border-right: $module-border;
        
        .client {
            .header {
                background-color: #ddd;
                border-bottom: 1px solid #fff;
                padding: 8px 20px;
                margin: 0;

                h4 {
                    margin: 8px 0;
                    float: right;
                }

                .avatar {
                    border-radius: 32px;
                    margin-bottom: -4px;
                }
            }
        }
    }

    .loading {
        background-image: url('../img/loading.gif');
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 42px;

        * {
            display: none;
        }
    }

    .error {
        padding: 24px;
        color: maroon;
    }
}

