<!DOCTYPE html>
<html>
<head>
    <title>Matters App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="build/main.css">
</head>
<body ng-app="mattersApp">

    <!-- Header -->
    <header>
        <h1>Matters</h1>
        <div class="filters">
            <span class="filter-text">
                <input
                    id="client-filter"
                    type="text"
                    ng-model="clientFilter"
                    placeholder="Filter by client...">
                <span class="filter-btn client"></span>
            </span>
            <span class="filter-text">
                <input
                    id="keyword-filter" 
                    type="text"
                    ng-model="keywordFilter"
                    placeholder="Filter by keyword...">
                <span class="filter-btn keyword"></span>
            </span>
            <span class="hide-closed">
                <label>
                    <input
                        id="hide-closed"    
                        type="checkbox"
                        ng-model="hideClosed">
                    Hide closed matters
                </label>
            </span>
        </div>
        <div class="clear"></div>
    </header>
    <!-- END Header -->


    <!-- Sidebar -->
    <aside
        ng-controller="SidebarController"
        class="active"
        ng-class="{active: active}">
        <div class="filter">
            <input
                id="select-all"
                type="checkbox"
                ng-model="allChecked"
                ng-change="checkAll()">
            <label for="select-all">Select all</label>

            <div
                class="sidebar-toggle"
                ng-click="sidebarToggle()"></div>
        </div>

        <div
            ma-position-options
            ma-list-height
            class="loading list"
            ng-class="{loading: !loaded}">

            <!-- Clients -->
            <ul>
                <li
                    class="client clear ng-cloak"
                    ng-repeat="client in clients | filter:clientFilter">
                    <div class="header">
                        <a href="{{client.avatar}}">
                            <img
                                class="avatar"
                                width="32"
                                height="32"
                                src="{{client.avatar}}">
                        </a>
                        <h4>{{client.client_name}}</h4>
                    </div>

                    <!-- Matters -->
                    <ul>
                        <li
                            ma-deactivate-options
                            class="matter"
                            ng-class="{hidden: hideClosed && matter.status == 'closed'}"
                            ng-controller="MatterController"
                            ng-repeat="matter in client.matters | filter:keywordFilter">
                            <input
                                type="checkbox"
                                ng-model="checked">
                            <div
                                class="data"
                                ng-click="contentClick(matter)">
                                <div class="number">{{matter.number}}</div>
                                <div
                                    class="status"
                                    ng-class="{hidden: matter.status != 'closed'}">Closed</div>
                                <div class="description">{{matter.description}}</div>
                            </div>
                            <div
                                class="options"
                                ng-class="{active: optionsActive}"
                                ng-click="optionsClick($event)">
                                <ul ng-class="{active: optionsActive}">
                                    <li ng-click="delete(matter.id)">Delete Matter</li>
                                    <li
                                        ng-class="{disabled: matter.status == 'closed'}"
                                        ng-click="close()">Close Matter</li>
                                </ul>
                            </div>
                            <div class="clear"></div>
                        </li>
                    </ul>
                    <!-- END Matters -->

                </li>
            </ul>
            <!-- END Clients -->

            <div class="error" ng-if="error">
                No results found...
            </div>
        </div>
    </aside>
    <!-- END Sidebar -->


    <!-- Main Content -->
    <section
        ng-controller="ContentController"
        class="sidebar-active"
        ng-class="{'sidebar-active': sidebarActive}">
        <article class="content ng-cloak">
            <h3 class="number">{{matter.number}}
                <span
                    class="status"
                    ng-class="{hidden: matter.status != 'closed'}">Closed</span>
            </h3>
            <div class="description">{{matter.description}}</div>
        </article>
    </section>
    <!-- END Main Content -->

    <script src="build/main.js"></script>
</body>
</html>